body.database {
    .container {
        .archive_list {
            @include clearfix;
            > li {
                a {
                    min-height: 200px;
                    .modal_button {
                        position: absolute;
                        right: 0;
                        bottom: 20px;
                        color: #ffffff;
                        background-color: #0e6191;
                        font-size: 14px;
                        padding: 13px 30px;
                        transition: opacity 0.2s;
                        cursor: pointer;
                        &:hover {
                            opacity: 0.75;
                        }
                    }
                    &.no_link {
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                &:first-child {
                    a {
                        .modal_button {
                            font-size: 16px;
                            padding: 22px 40px;
                        }
                    }
                }
            }
        }
    }
    #modal {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 15;
        background-color: rgba(#000000, 0.5);
        padding-top: 100px;
        display: none;
        #modal_inner {
            width: 720px;
            border: 20px solid #ddd;
            background-color: #ffffff;
            margin: 0 auto;
            padding: 40px;
        }
        .description {
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 40px;
            margin-bottom: 30px;
        }
        ul {
            > li {
                margin-top: 30px;
                &:first-child {
                    margin-top: 0;
                }
                .term {
                    margin-bottom: 10px;
                    label {
                        line-height: 1;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
                .input {
                    input {
                        width: 100%;
                        border: 1px solid #ddd;
                        padding: 9px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
        .submit {
            margin-top: 40px;
            input {
                display: block;
                -webkit-appearance: none;
                border-radius: 0;
                background-color: #0e6191;
                color: #ffffff;
                width: 200px;
                line-height: 1;
                margin: 0 auto;
                font-size: 14px;
                padding: 18px 0;
                box-shadow: none;
                border: 0;
            }
        }
        #download_link {
            font-size: 14px;
            margin-top: 40px;
            text-align: center;
        }
        .screen-reader-response {
            display: none;
        }
        .wpcf7-not-valid-tip {
            font-size: 14px;
            margin-top: 10px;
            line-height: 1;
            display: block;
        }
        .wpcf7-response-output {
            font-size: 14px;
            margin-top: 40px;
            text-align: center;
            &.wpcf7-display-none {
                display: none;
            }
        }
    }
    @media screen and (max-width: 640px) {
        .container {
            .archive_list {
                @include clearfix;
                > li {
                    a {
                        min-height: auto;
                        .modal_button {
                            width: auto;
                            position: static;
                            text-align: center;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        #modal {
            padding: 10px 10px 40px;
            &:after {
                content: '×閉じる';
                display: block;
                position: absolute;
                z-index: 20;
                background-color: #333;
                top: 5px;
                right: 5px;
                color: #fff;
                font-size: 10px;
                padding: 5px 10px;
                border-radius: 5px;
            }
            #modal_inner {
                width: auto;
                border: 10px solid #ddd;
                background-color: #ffffff;
                margin: 0 auto;
                padding: 20px 10px 30px;
            }
            .description {
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            ul {
                > li {
                    margin-top: 20px;
                }
            }
            .submit {
                margin-top: 30px;
            }
            .wpcf7-response-output {
                font-size: 12px;
                margin-top: 30px;
                text-align: left;
            }
            #download_link {
                font-size: 14px;
                margin-top: 30px;
                text-align: center;
            }
        }
    }
}