body.service {
    .link {
        margin-top: 60px;
        a {
            background-color: #999999;
            font-size: 12px;
            font-weight: bold;
            padding: 24px;
            margin: 0 auto;
            color: #ffffff;
            text-decoration: none;
            display: table;
            text-align: center;
            transition: background-color .2s;
            &:hover {
                background-color: #cccccc;
            }
        }
    }
    @media screen and (max-width: 640px) {
        .link {
            margin-top: 30px;
            a {
                display: block;
                padding: 24px 0;
            }
        }
    }
}